body{
    background-color: #eee;
}
.title h2{
    text-align:center;
    margin:3rem auto;
    font-size:3.5rem;
    font-weight:600;
    border-bottom:0.1rem dashed black;
}
.main{
    text-align:center;
    margin:3rem auto;
}
.main table{
    width:102%;
    text-align:center;
    margin:1.5rem auto;
    border:0.1rem solid #dedede;
    background-color: white;
}
table tr{
    width:94%;
    height:7rem;
    font-size:2.4rem;
}
table tr th{
    background-color:#4bd693;
    color:white;
    text-align:center;
    font-size:2.6rem;
    font-weight:500;
    height:3rem;
}
table tr td{
    border-bottom:0.1rem solid lightgray;
    text-align:left;
    text-indent:1.5rem;
    font-size:2.4rem;
    height:2.5rem;
}
table tr #unitname{
    border-bottom:none;
}

.right{
    margin-left:2rem;
}